
@{
    ViewData["Title"] = "CreateAppointment";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/jquery.blockUI.js"></script>

<script src="~/js/site.js"></script>

<div class="container">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-9 col-md-9">
                <p>
                    
                    <table width="100%">
                        <tr>
                            <td colspan="2" valign="bottom"><b>@ViewData["cuerpoResultado"]</b></td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="bottom"><b>@ViewData["cuerpoResultado1"]</b></td>
                        </tr>
                        <tr>
                            <td valign="bottom"><b>@ViewData["cuerpoResultado2"]</b></td>
                            <td valign="bottom">@ViewData["cuerpoResultado2-2"]</td>
                        </tr>
                        <tr>
                            <td valign="bottom"><b>@ViewData["cuerpoResultado3"]</b></td>
                            <td valign="bottom">@ViewData["cuerpoResultado3-3"]</td>
                        </tr>
                        <tr>
                            <td valign="bottom"><b>@ViewData["cuerpoResultado4"]</b></td>
                            <td valign="bottom">@ViewData["cuerpoResultado4-4"]</td>
                        </tr>
                        <tr>
                            <td valign="bottom"><b>@ViewData["cuerpoResultado5"]</b></td>
                            <td valign="bottom">@ViewData["cuerpoResultado5-5"]</td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="bottom"><b>@ViewData["cuerpoResultado6"]</b></td>
                        </tr>
                        <tr>
                            <td valign="bottom"><b>@ViewData["cuerpoResultado7"]</b></td>
                            <td valign="bottom">@ViewData["cuerpoResultado7-7"]</td>
                        </tr>
                        <tr>
                            <td valign="bottom"><b>@ViewData["cuerpoResultado8"]</b></td>
                            <td valign="bottom">@ViewData["cuerpoResultado8-8"]</td>
                        </tr>
                        <tr>
                            <td valign="bottom"><b>@ViewData["cuerpoResultado9"]</b></td>
                            <td valign="bottom"> @ViewData["cuerpoResultado9-9"]</td>
                        </tr>
                        <tr>
                            <td valign="bottom"><b>@ViewData["cuerpoResultado10"]</b></td>
                            <td valign="bottom">@ViewData["cuerpoResultado10-10"]</td>
                        </tr>
                    </table>

                </p>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-sm-9 col-md-9">
                <a href="/Home/Index/" class="btn btn-success ">Regresar al Menú Principal</a>
            </div>
        </div>
    </div>
</div>
