
@{
    ViewData["Title"] = "CreateAppointment";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/jquery.blockUI.js"></script>

<script src="~/js/site.js"></script>

<div class="container">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-6">
                <p>
                    <table width="100%">
                        <tr>
                            <td><h5>@ViewData["cuerpoResultado"]</h5></td>
                        </tr>
                        <tr>
                            <td><h5>@ViewData["cuerpoResultado1"]</h5></td>
                        </tr>
                        <tr>
                            <td><h5>@ViewData["cuerpoResultado2"]</h5></td>
                        </tr>
                        <tr>
                            <td><h5>@ViewData["cuerpoResultado3"]</h5></td>
                        </tr>
                        <tr>
                            <td><h5>@ViewData["cuerpoResultado4"]</h5></td>
                        </tr>
                        <tr>
                            <td><h5>@ViewData["cuerpoResultado5"]</h5></td>
                        </tr>
                        <tr>
                            <td><h5>@ViewData["cuerpoResultado6"]</h5></td>
                        </tr>
                        <tr>
                            <td><h5>@ViewData["cuerpoResultado7"]</h5></td>
                        </tr>
                        <tr>
                            <td><h5>@ViewData["cuerpoResultado8"]</h5></td>
                        </tr>
                        <tr>
                            <td><h5>@ViewData["cuerpoResultado9"]</h5></td>
                        </tr>
                        <tr>
                            <td><h5>@ViewData["cuerpoResultado10"]</h5></td>
                        </tr>
                    </table>

                </p>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-6">
                <a href="/Home/Index/" class="btn btn-success btn-block">Regresar al Menú Principal</a>
            </div>
        </div>
    </div>
</div>
