

@model CitaActiva.ModelsViews.AppointmentModel


@{
    ViewData["Title"] = "Index";
}

<br />
<div>
    <h1>Agenda tu cita. </h1>
    
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.js"></script>
<script src="~/js/jquery.blockUI.js"></script>

<script src="~/js/site.js"></script>
<link href="~/css/global.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script> 
    
</script>

<script type="text/javascript">
    jQuery(function ($) {
    $(document).ready(function () {
        $("#workshopId").on("change", function () {
            var workshopId = $("#workshopId option:selected").val();
            if (workshopId != "-1") {
                $.blockUI({
                    message: 'Por favor espere un momento...', css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });
                $.ajax({
                    type: 'GET',
                    url: '/Appointment/Receptionist/' + workshopId,
                    data: { workshopId },
                    complete: function () {
                        $.unblockUI();
                        DesbloquearPlannedData();
                    },
                    success: function (result) {
                        var resultSchedule = (JSON.parse(result))
                        localStorage.setItem("scheduleId", resultSchedule[0].scheduleId)
                    }
                });
            } else {
                 DesbloquearPlannedData();
            }
    });
});

    
        $(document).ready(function () {
            $("#brandId").on("change", function () {
                var brandId = $("#brandId option:selected").val();

                $.blockUI({message:'Por favor espere un momento...', css: { 
            border: 'none', 
            padding: '15px', 
            backgroundColor: '#000', 
            '-webkit-border-radius': '10px', 
            '-moz-border-radius': '10px', 
            opacity: .5, 
            color: '#fff' 
        } });
                $.ajax({
                    type: 'GET',
                    url: '/Appointment/Versions/' + brandId,
                    data: { brandId },
                    complete: function () {
                        $.unblockUI();
                    },
                    success: function (result) {
                        resultVersion = JSON.parse(result)
                        var s = '<option value="-1" selected="selected">Selecciona el modelo del Vehiculo</option>';
                        for (var i = 0; i < resultVersion.length; i++) {
                            s += '<option value="' + resultVersion[i].id + '">' + resultVersion[i].description + '</option>';
                        }
                        $('#versionId').html(s);
                    }
                });
            });
        });
    });

</script>
<script>
    jQuery(function ($) {
        $('.form-control.date').each(function () {
            $(this).datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
                minDate: new Date()
            });
        });
    });
</script>
<script>
    jQuery(function ($) {
        $(document).ready(function () {
            $("#plannedDate").on("change", function () {

                var scheduleId = localStorage.getItem("scheduleId")

                $.blockUI({
                    message: 'Por favor espere un momento...', css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });

                $.ajax({
                    type: 'GET',
                    url: '/Appointment/Schedule/' + scheduleId,
                    data: { scheduleId },
                    complete: function () {

                        if (localStorage.getItem("Min") != "" && localStorage.getItem("Max") != "") {
                            var fecha = ($("#plannedDate").val())
                            $.ajax({
                                type: 'GET',

                                url: '/Appointment/AllowTimes/' + localStorage.getItem("Min") + "/" + localStorage.getItem("Max") + "/" + fecha + "/0",
                                complete: function () {

                                    localStorage.removeItem("Min");
                                    localStorage.removeItem("Max");
                                },
                                success: function (resultAllowTimes) {
                                    var result = (JSON.parse(resultAllowTimes))
                                    
                                    var s = '<option value="-1" selected="selected">Selecciona un horario.</option>';
                                    for (var i = 0; i < result.length; i++) {
                                        s += '<option value="' + result[i].hora + '">' + result[i].horario + '</option>';
                                    } $('#plannedTime').html(s);

                                }
                            });
                        } else {
                             toastr.warning("Ya no se puede elegir un horario de servicio en el dia seleccionado");
                        }

                        $.unblockUI();
                        DesbloquearPlannedTime()
                    },
                    success: function (resultS) {
                        var resultSchedule = JSON.parse(resultS);
                        var fecha = new Date(($("#plannedDate").val()))
                        $.each(resultSchedule, function (index, value) {
                            if (fecha.getDay() + 1 == (value.weekday)) {
                                var year = new Date().getFullYear();
                                var month = (new Date().getMonth() + 1).toString();
                                if (month < 10) {
                                    month = "0" + month
                                }
                                var day = new Date().getDate()
                                var date = year + "-" + month + "-" + day

                                if ($("#plannedDate").val() == date) {

                                    var hr = new Date();
                                    var min = hr.getMinutes()
                                    if (min < 10) {
                                        min = "0" + min
                                    }

                                    hrHoy = (hr.getHours() + 2) + ":" + min + ":" + hr.getSeconds();

                                    var hrHoySplit = hrHoy.split(":")
                                    var valueEnding = value.ending.split(":")

                                    var valoraHr = new Date(year, month - 1, day, hrHoySplit[0], hrHoySplit[1]);
                                    var valorEnding = new Date(year, month - 1, day, valueEnding[0], valueEnding[1]);


                                    if (valoraHr >= valorEnding) {
                                        localStorage.setItem("Min", "")
                                        localStorage.setItem("Max", "")

                                    } else {
                                        localStorage.setItem("Min", hrHoy)
                                        localStorage.setItem("Max", value.ending)
                                    }
                                } else {
                                    localStorage.setItem("Min", value.beginning)
                                    localStorage.setItem("Max", value.ending)
                                }
                            }
                        });
                    }
                });
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        var year = new Date().getFullYear()
        var yearMax = year + 1
        var yearMin = yearMax - 15
       
        var vehicleYear = document.querySelector("#vehicleYear");
        vehicleYear.setAttribute("max", yearMax);
        vehicleYear.setAttribute("min", yearMin);

        });
</script>
<script>
    $(document).ready(function () {
        var IsReadOnly = @ViewBag.IsReadOnly;
        if (IsReadOnly == 1) {
            $('#contactName').attr('disabled', true);
            $('#contactMail').attr('disabled', true);
            $('#contactPhone').attr('disabled', true);
            $('#brandId').attr('disabled', true);
            $('#versionId').attr('disabled', true);
            $('#vehicleYear').attr('disabled', true);
            $('#vehiclePlate').attr('disabled', true);
            $('#labours').attr('disabled', true);
            $('#workshopId').attr('disabled', true);
            $('#plannedDate').attr('disabled', true);
            $('#plannedTime').attr('disabled', true);
            
            document.getElementById('divBtnCancelar').style.display = 'block'; 
            document.getElementById('divBtnAgendar').style.display = 'none'; 
        }
        else {
            document.getElementById('divBtnCancelar').style.display='none'; 
            document.getElementById('divBtnAgendar').style.display = 'block'; 

            DesbloquearPlannedData();
            DesbloquearPlannedTime();
        }
    });
    
</script>
<script>
    $(document).ready(function () {
        var DeleteInd = @ViewBag.DeleteInd;
        if (DeleteInd == 1) {
            document.getElementById('DeleteInd').style.display = 'block';
             document.getElementById('divBtnCancelar').style.display='none'; 
            document.getElementById('divBtnAgendar').style.display = 'none'; 
        }
        else {
            document.getElementById('DeleteInd').style.display = 'none';
        }
    });
</script>
<script>
    function DesbloquearPlannedData() {
        var workshopId = document.getElementById("workshopId").value;
       
        if (workshopId == "-1") {
            $('#plannedDate').attr('disabled', true);
            document.getElementById("plannedDate").value = "";
        }
        else {
            $('#plannedDate').attr('disabled', false);
        }      
    }
    function DesbloquearPlannedTime() {
        var plannedDate = document.getElementById("plannedDate").value;
        
        if (plannedDate == "") {
            $('#plannedTime').attr('disabled', true);
            document.getElementById("plannedTime").value = "-1";
        }
        else {
            $('#plannedTime').attr('disabled', false);
        }      
    }
   
</script>


<br />

<div class="container">
     
    <div id="divMessage" style="display: none;">
        <img src="~/gif-espera.gif" />
    </div>

    <form asp-route="AppintmentRoute" id="AppointmentForm" onSubmit="return Validar('contactName','contactMail', 'contactPhone', 'brandId', 'versionId', 'vehicleYear', 'vehiclePlate', 'labours', 'workshopId', 'plannedDate', 'plannedTime')" method="post">
        <div class="row">
            <div class="col-md-12 col-md-pull-12">
                <div class="justify-content-center">
                    <div id="DeleteInd" style="display: none; background-color: #FF0000; padding: 6px; color: #ffffff; border-radius: 5px 5px 5px 5px; }">
                        <label>     Cita Cancelada</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-pull-4">
                <div class="form-group">
                    <label asp-for="contactName">Nombre: *</label>
                    <input asp-for="contactName" id="contactName" placeholder="Ingresa tu Nombre" class="form-control" />
                    <span asp-validation-for="contactName"></span>
                </div>
            </div>
            <div class="col-md-4 col-md-push-4">
                <div class="form-group">
                    <label asp-for="contactMail">eMail: *</label>
                    <input asp-for="contactMail" id="contactMail" placeholder="Ingresa tu eMail" type="email" class="form-control" />
                    <span asp-validation-for="contactMail"></span>
                </div>
            </div>
            <div class="col-md-4 col-md-pull-4">
                <div class="form-group">
                    <label asp-for="contactPhone">Telefono: *</label>
                    <input asp-for="contactPhone" id="contactPhone" placeholder="Ingresa tu número telefonico" class="form-control" />
                    <span asp-validation-for="contactPhone"></span>
                </div>
            </div>
        </div>
        <hr align="right" size="1" style="color:gray" width="100%" />

        <br />
        <div class="row">
            <div class="col-md-4 col-md-push-4">
                <div class="form-group">
                    <label>Marca: *</label>
                    <select id="brandId" asp-for="brandId" class="form-control">
                        <option value="-1" selected="selected">Selecciona la Marca de tu auto.</option>
                        <option value="NI">NISSAN</option>
                        <option value="IF">INFINITI</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-md-pull-4">
                <div class="form-group">
                    <label>Modelo: *</label>
                    <select id="versionId" asp-for="versionId" class="form-control">
                        <option value="-1" selected="selected">Selecciona el modelo de tu auto</option>
                        @foreach (var version in ViewBag.versions)
                        {
                            <option value="@version.id">@version.description</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-md-pull-4">
                <div class="form-group">
                    <label>Año: *</label>
                    <input type="number" asp-for="vehicleYear" placeholder="Selecciona el Año de tu auto." class="form-control" id="vehicleYear">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <div class="form-group">
                    <label asp-for="vehiclePlate">Placa / VIN</label>
                    <input asp-for="vehiclePlate" id="vehiclePlate" placeholder="Ingresa la placa/VIN de tu auto" class="form-control" />
                    <span asp-validation-for="vehiclePlate"></span>
                </div>

            </div>
            <div class="col-md-6 col-md-pull-6">

                <div class="form-group">
                    <label asp-for="labours.id">Servicio: *</label>
                    <select id="labours" asp-for="labours.id" class="form-control">
                        <option value="-1" selected="selected">Selecciona un Servicio.</option>
                        @foreach (var labour in ViewBag.laboursList)
                        {
                            <option value="@labour.id">@labour.description</option>
                        }
                    </select>
                </div>

            </div>
        </div>
        <hr align="right" size="1" style="color:gray" width="100%" />
        <br />
        <div class="row">
            <div class="col-md-4 col-md-push-4">
                <div class="form-group">
                    <label asp-for="workshopId">Taller: *</label>
                    <select id="workshopId" asp-for="workshopId" class="form-control">
                        <option value="-1" selected="selected">Selecciona un Taller</option>
                        @foreach (var workShop in ViewBag.WorkshopList)
                        {
                            <option value="@workShop.id">@workShop.comercialName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-md-push-4">
                <div>
                    <label asp-for="plannedData.plannedDate">Fecha: *</label>
                    <input type="text" class="form-control date" autocomplete="off" id="plannedDate" placeholder="Selecciona una Fecha" asp-for="plannedData.plannedDate">
                </div>
            </div>
            <div class="col-md-4 col-md-pull-4">
                <div>
                    <label asp-for="plannedData.plannedTime">Hora: *</label>
                    <select id="plannedTime" asp-for="plannedData.plannedTime" class="form-control">
                        <option value="-1" selected="selected">Selecciona un Horario</option>
                        @foreach (var horario in ViewBag.horarios)
                        {
                            <option value="@horario.hora">@horario.horario</option>
                        }
                    </select>
                    
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-md-pull-6">
                <div id="divBtnCancelar" style="display: none">
                    <a href="/Appointment/Delete/@ViewBag.id"  id="btnCancelar" class="btn btn-danger btn-block">Cancelar Cita</a>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div id="divBtnAgendar" style="display: none">
                    <input type="submit" id="btnAgendar" class="btn btn-success btn-block" value="Agendar Cita" />
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="id" />
    </form>

</div>
